---
http_interactions:
- request:
    method: get
    uri: https://api.exchangeratesapi.io/history?base=BRL&end_at=2019-01-10&start_at=2019-01-01&symbols=USD,AUD,EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"base":"BRL","end_at":"2019-01-10","start_at":"2019-01-01","rates":{"2019-01-10":{"USD":0.2717250477,"AUD":0.3776353914,"EUR":0.2355657111},"2019-01-09":{"USD":0.2711563499,"AUD":0.3783169606,"EUR":0.2367144041},"2019-01-03":{"USD":0.2650534872,"AUD":0.380412949,"EUR":0.2335684589},"2019-01-02":{"USD":0.2594354655,"AUD":0.3704302299,"EUR":0.2276348737},"2019-01-07":{"USD":0.2706377545,"AUD":0.3792948521,"EUR":0.2364681123},"2019-01-08":{"USD":0.2685193879,"AUD":0.3765374143,"EUR":0.2347197446},"2019-01-04":{"USD":0.2658723682,"AUD":0.3774627527,"EUR":0.2331600177}}}'
  recorded_at: Thu, 07 Feb 2019 19:23:59 GMT
recorded_with: VCR 4.0.0
